@mixin backgroundColor($Color) {
  background-color: $Color;
}

@mixin fontFace($path,$NameFormat,$NameOfFontFamily:false,$fontStyle:normal,$fontWeight:normal) {
  @font-face {
    font-family: $NameOfFontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    src: url('#{$path}/eot/#{$NameFormat}.eot?#iefix') format('embedded-opentype'), url('#{$path}/woff/#{$NameFormat}.woff') format('woff'), url('#{$path}/woff2/#{$NameFormat}.woff2') format('woff2'), url('#{$path}/ttf/#{$NameFormat}.ttf') format('truetype');
  }
}

@mixin padding($PaddingS:false) {
  @if $PaddingS {
    padding: $PaddingS;
  }
}

@mixin transition($TransitionS:false) {
  @if $TransitionS {
    transition: $TransitionS;
    -webkit-transition: $TransitionS;
    -ms-transition: $TransitionS;
    -moz-transition: $TransitionS;
  }
}

@mixin transform($TransformS:false) {
  @if $TransformS {
    transform: $TransformS;
    -webkit-transform: $TransformS;
    -ms-transform: $TransformS;
    -moz-transform: $TransformS;
  }
}

@mixin Before() {
  content: "";
  position: absolute;
}

@mixin FourSidesBefore() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

$L: 1200px;
$M: 992px;
$S: 767px;
$xs: 400px;
@mixin MediaQuery($canvas) {
  @if $canvas == L {
    @media only screen and (max-width: $L) {
      @content
    }
  } @else if $canvas == M {
    @media only screen and (max-width: $M) {
      @content
    }
  } @else if $canvas == S {
    @media only screen and (max-width: $S) {
      @content
    }
  } @else if $canvas == xs {
    @media only screen and (max-width: $xs) {
      @content
    }
  } @else if $canvas == Ms {
    @media only screen and (min-width: 500px) and (max-width: $S) {
      @content
    }
  }
}

//@mixin font-face($family, $path, $svg, $weight: normal, $style: normal){
//@font-face {
//  font-family: $family;
//  src: url('#{$path}.eot');
//  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg');
//  font-weight: $weight;
//  font-style: $style;
//}
//}