$colorBlack: #000;
$color_141414: #141414;
$color_272727: #272727;
$color_424142: #424142;
$color_a6a6a6: #a6a6a6;
$color_ccc: #ccc;
$color_f3f5f3: #f3f5f3;
$color_ebf4e4:#ebf4e4;
$color_f5f5f5:#f5f5f5;
$colorWhite: #fff;
$color_517746: #517746;
$color_75a948: #75a948;
$color_5db943: #5db943;
$color_470b0a: #470b0a;
$color_580704: #580704;
$color_6b110d: #6b110d;
$color_6e1310: #6e1310;
$color_8d1a17:#8d1a17;
$color_921916: #921916;
$color_9f1613: #9f1613;
$color_9e1915: #9e1915;
$color_a61d17: #a61d17;
$color_d5241d: #d5241d;
$color_cd231b: #cd231b;
$color_db2727: #db2727;
$color_f02828: #f02828;
$color_d34836: #d34836;
$color_993728:#993728;
$color_3B5998: #3B5998;
$color_314278: #314278;
$DefaultFonts : serif, sans-serif, cursive, fantasy, monospace, serif, sans-serif, cursive, fantasy, monospace;
